body{
   background-color: aqua;
}

.box{
    width: 700px;
    height: 600px;
    border: 9px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    background: yellow;
    width: 150px;
    height: 150px;
    border: 7px solid black;
}
